In [143]:
import pandas as pd
df=pd.read_csv("sample_weather_data.csv")
df

          day  temperature  windspeed  event
0  01-01-2017           32          6  Rain
1  02-01-2017           35          7  Sunny
2  03-01-2017           28          2   Snow
3  04-01-2017           24          7   Snow
4  05-01-2017           32          4   Rain
5  06-01-2017           32          2  Sunny

In [144]:
df.shape # It means the dimesnsions of the data i.e no of rows and cols

(6, 4)

In [145]:
df.head() #prints first 5 rows

          day  temperature  windspeed  event
0  01-01-2017           32          6  Rain
1  02-01-2017           35          7  Sunny
2  03-01-2017           28          2   Snow
3  04-01-2017           24          7   Snow
4  05-01-2017           32          4   Rain

In [146]:
df.tail() #prints last 5 rows

          day  temperature  windspeed  event
1  02-01-2017           35          7  Sunny
2  03-01-2017           28          2   Snow
3  04-01-2017           24          7   Snow
4  05-01-2017           32          4   Rain
5  06-01-2017           32          2  Sunny

In [147]:
df[2:5] #Prints from row 2 to 4 using indexing

          day  temperature  windspeed event
2  03-01-2017           28          2  Snow
3  04-01-2017           24          7  Snow
4  05-01-2017           32          4  Rain

In [148]:
df.columns #prints the column names

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [149]:
df.temperature #prints only temp column
# or in this way df['temperature']

0    32
1    35
2    28
3    24
4    32
5    32
Name: temperature, dtype: int64

In [150]:
df[['event','windspeed']] #prints 2 or more col at a time

   event  windspeed
0  Rain           6
1  Sunny          7
2   Snow          2
3   Snow          7
4   Rain          4
5  Sunny          2

In [151]:
print(df['temperature'].max())
print(df['temperature'].min())
print(df['temperature'].std())

35
24
3.8858718455450894

In [152]:
df.describe() #prints statistics on the data

       temperature  windspeed
count     6.000000   6.000000
mean     30.500000   4.666667
std       3.885872   2.338090
min      24.000000   2.000000
25%      29.000000   2.500000
50%      32.000000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [153]:
df[df.temperature>=32] #conditon to check temp is >=32 and print them

          day  temperature  windspeed  event
0  01-01-2017           32          6  Rain
1  02-01-2017           35          7  Sunny
4  05-01-2017           32          4   Rain
5  06-01-2017           32          2  Sunny

In [154]:
df[df.temperature== df.temperature.max()] #conditon to check temp is = to max temp and print the col

          day  temperature  windspeed  event
1  02-01-2017           35          7  Sunny

In [158]:
df.index #gives index of the dataset and stop is not included

Index(['01-01-2017', '02-01-2017', '03-01-2017', '04-01-2017', '05-01-2017',
       '06-01-2017'],
      dtype='object', name='day')

In [159]:
df.set_index('day',inplace=True) #set day as index and inplace is used to make the changes perminent
# once run at a time cant run twice and rise error

KeyError: "None of ['day'] are in the columns"

In [160]:
df

            temperature  windspeed  event
day
01-01-2017           32          6  Rain
02-01-2017           35          7  Sunny
03-01-2017           28          2   Snow
04-01-2017           24          7   Snow
05-01-2017           32          4   Rain
06-01-2017           32          2  Sunny

In [161]:
df.loc['04-01-2017'] #gives the col based on the index

temperature      24
windspeed         7
event          Snow
Name: 04-01-2017, dtype: object

In [162]:
df.reset_index(inplace=True) #resets the index to original
df

          day  temperature  windspeed  event
0  01-01-2017           32          6  Rain
1  02-01-2017           35          7  Sunny
2  03-01-2017           28          2   Snow
3  04-01-2017           24          7   Snow
4  05-01-2017           32          4   Rain
5  06-01-2017           32          2  Sunny